In [8]:
print(answer_column)

0                                                Copernicus
1                                                Jim Thorpe
2                                                   Arizona
3                                                McDonald's
4                                                John Adams
5                                                   the ant
6                                            the Appian Way
7                                            Michael Jordan
8                                                Washington
9                                            Crate & Barrel
10                                           Jackie Gleason
11                                                  the cud
12                                    Ceylon (or Sri Lanka)
13                                                Jim Brown
14                                             the UV index
15                                                   Bulova
16                                              Jesse James
17                                                      imp
18                                        the International
19                                             (Lou) Gehrig
20                                                  Morocco
21                                            (Paul) Bonwit
22        Hattie McDaniel (for her role in Gone with the...
23                                                      era
24                                       the Congress Party
25                                       (Wilt) Chamberlain
26                                                       K2
27                                              Ethan Allen
28                                                      ply
29                                                   Horton
                                ...
216900                                         Alec Baldwin
216901                                               Samson
216902                                             the teal
216903                                               Africa
216904                                        Ronald Reagan
216905                                             Budapest
216906                                            Amsterdam
216907                                                  man
216908                                             a toucan
216909                                       Allen Ginsberg
216910                                         Muhammad Ali
216911                                                 Oslo
216912                                           Siddhartha
216913                                       (Edward) Elgar
216914                                               a tern
216915                               (Erle Stanley) Gardner
216916                                                 work
216917                                           Georgetown
216918                                           Fanny Hill
216919                                             Magritte
216920                                             thrushes
216921                                            Ana√Øs Nin
216922                                  (Margaret) Thatcher
216923                                           Paramaribo
216924                                                Stomp
216925                                             Turandot
216926                                           a titmouse
216927                                         Clive Barker
216928                                             Geronimo
216929                       Grigori Alexandrovich Potemkin
Name:  Answer, Length: 216930, dtype: object

In [9]:
answer_counts = answer_column.value_counts()

In [10]:
print(answer_counts)

China                                  216
Australia                              215
Japan                                  196
Chicago                                194
France                                 193
India                                  185
California                             180
Canada                                 176
Spain                                  171
Mexico                                 164
Alaska                                 161
Italy                                  160
Hawaii                                 157
Texas                                  153
Paris                                  149
Germany                                147
Russia                                 141
Florida                                140
South Africa                           139
Ireland                                136
Brazil                                 133
London                                 132
Sweden                                 130
George Washington                      128
New Orleans                            128
Greece                                 125
Ronald Reagan                          123
New York                               122
Egypt                                  122
Abraham Lincoln                        120
                                      ...
security guards                          1
extravehicular activities                1
a raptor                                 1
Katelyn                                  1
Eastern (Airlines)                       1
"Where Did Our Love Go"                  1
swagger                                  1
Kamchatka Peninsula                      1
Bensonhurst                              1
Take away his charge/credit card!        1
Formaldehyde                             1
The bitter                               1
the \"Shot Heard 'Round the World\"      1
(Paula) Dean                             1
Electromagnetic fields                   1
Epstein-Barr                             1
"Brahms' Lullaby"                        1
a chalkboard                             1
Steely Dan Quayle                        1
Grebe                                    1
Repulsive/repellant                      1
the Middle Passage                       1
Vampire                                  1
Glissando                                1
a Japanese beetle                        1
Zviad Gamsakhurdia                       1
Dancing With The Stars                   1
fingertips                               1
Right angles                             1
I came, I saw, I conquered               1
Name:  Answer, Length: 88268, dtype: int64

In [23]:
jeopardy[" Value"].replace(to_replace="None", value=0, inplace=True)
# print(jeopardy[" Value"])

0           $200
1           $200
2           $200
3           $200
4           $200
5           $200
6           $400
7           $400
8           $400
9           $400
10          $400
11          $400
12          $600
13          $600
14          $600
15          $600
16          $600
17          $600
18          $800
19          $800
20          $800
21          $800
22        $2,000
23          $800
24         $1000
25         $1000
26         $1000
27         $1000
28         $1000
29          $400
           ...
216900      $400
216901      $400
216902      $400
216903      $400
216904      $400
216905      $800
216906      $800
216907      $800
216908      $800
216909      $800
216910      $800
216911     $1200
216912     $1200
216913     $1200
216914     $1200
216915     $1200
216916    $2,200
216917    $3,400
216918     $1600
216919     $1600
216920     $1600
216921     $1600
216922     $1600
216923     $2000
216924     $2000
216925     $2000
216926     $2000
216927     $2000
216928     $2000
216929         0
Name:  Value, Length: 216930, dtype: object

In [35]:
jeopardy[" Value"] = jeopardy[" Value"].apply(lambda x: str(x))
jeopardy[" Value"] = jeopardy[" Value"].apply(lambda x: x.replace('$','')).apply(lambda x: x.replace(',','')).astype(np.int64)
# print(dict(jeopardy[" Value"].value_counts()))
jeopardy['count'] = jeopardy.groupby(' Value')[' Value'].transform(pd.Series.value_counts)
# print(dict(jeopardy[" Value"].value_counts())[jeopardy[" Value"]])

In [39]:
print(jeopardy.head())
jeopardy = jeopardy[jeopardy['count'] > 1000]
print(jeopardy.head(20))

   Show Number    Air Date      Round                         Category  \
0         4680  2004-12-31  Jeopardy!                          HISTORY
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES

    Value                                           Question      Answer  \
0     200  For the last 8 years of his life, Galileo was ...  Copernicus
1     200  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2     200  The city of Yuma in this state has a record av...     Arizona
3     200  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4     200  Signer of the Dec. of Indep., framer of the Co...  John Adams

   count
0  30455
1  30455
2  30455
3  30455
4  30455
    Show Number    Air Date      Round                         Category  \
0          4680  2004-12-31  Jeopardy!                          HISTORY
1          4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES
2          4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...
3          4680  2004-12-31  Jeopardy!                 THE COMPANY LINE
4          4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES
5          4680  2004-12-31  Jeopardy!                   3-LETTER WORDS
6          4680  2004-12-31  Jeopardy!                          HISTORY
7          4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES
8          4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...
9          4680  2004-12-31  Jeopardy!                 THE COMPANY LINE
10         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES
11         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS
12         4680  2004-12-31  Jeopardy!                          HISTORY
13         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES
14         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...
15         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE
16         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES
17         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS
18         4680  2004-12-31  Jeopardy!                          HISTORY
19         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES

     Value                                           Question  \
0      200  For the last 8 years of his life, Galileo was ...
1      200  No. 2: 1912 Olympian; football star at Carlisl...
2      200  The city of Yuma in this state has a record av...
3      200  In 1963, live on "The Art Linkletter Show", th...
4      200  Signer of the Dec. of Indep., framer of the Co...
5      200  In the title of an Aesop fable, this insect sh...
6      400  Built in 312 B.C. to link Rome & the South of ...
7      400  No. 8: 30 steals for the Birmingham Barons; 2,...
8      400  In the winter of 1971-72, a record 1,122 inche...
9      400  This housewares store was named for the packag...
10     400                                   "And away we go"
11     400  Cows regurgitate this from the first stomach t...
12     600  In 1000 Rajaraja I of the Cholas battled to ta...
13     600  No. 1: Lettered in hoops, football & lacrosse ...
14     600  On June 28, 1994 the nat'l weather service beg...
15     600  This company's Accutron watch, introduced in 1...
16     600  Outlaw: "Murdered by a traitor and a coward wh...
17     600  A small demon, or a mischievous child (who mig...
18     800  Karl led the first of these Marxist organizati...
19     800  No. 10: FB/LB for Columbia U. in the 1920s; MV...

                   Answer  count
0              Copernicus  30455
1              Jim Thorpe  30455
2                 Arizona  30455
3              McDonald's  30455
4              John Adams  30455
5                 the ant  30455
6          the Appian Way  42244
7          Michael Jordan  42244
8              Washington  42244
9          Crate & Barrel  42244
10         Jackie Gleason  42244
11                the cud  42244
12  Ceylon (or Sri Lanka)  20377
13              Jim Brown  20377
14           the UV index  20377
15                 Bulova  20377
16            Jesse James  20377
17                    imp  20377
18      the International  31860
19           (Lou) Gehrig  31860

In [10]:
unique_categories = jeopardy[" Category"].unique()
print(unique_categories)

['HISTORY' "ESPN's TOP 10 ALL-TIME ATHLETES" 'EVERYBODY TALKS ABOUT IT...'
 ... 'OFF-BROADWAY' 'RIDDLE ME THIS' 'AUTHORS IN THEIR YOUTH']

In [11]:
unique_series = pd.DataFrame({"Category": unique_categories})

In [12]:
print(unique_series)

                               Category
0                               HISTORY
1       ESPN's TOP 10 ALL-TIME ATHLETES
2           EVERYBODY TALKS ABOUT IT...
3                      THE COMPANY LINE
4                   EPITAPHS & TRIBUTES
5                        3-LETTER WORDS
6            DR. SEUSS AT THE MULTIPLEX
7          PRESIDENTIAL STATES OF BIRTH
8                        AIRLINE TRAVEL
9                THAT OLD-TIME RELIGION
10                       MUSICAL TRAINS
11                          "X"s & "O"s
12                     THE SOLAR SYSTEM
13                        GEOGRAPHY "E"
14                         RADIO DISNEY
15                       PARTS OF PEACH
16               BE FRUITFUL & MULTIPLY
17                         LET'S BOUNCE
18                    RHYMES WITH SMART
19                        SCIENCE CLASS
20                       KIDS IN SPORTS
21                       JUST THE FACTS
22                            SEE & SAY
23                           NEWS TO ME
24                    IN THE DICTIONARY
25                       HISTORIC WOMEN
26               ROYAL FEMALE NICKNAMES
27                    TV ACTORS & ROLES
28                     TRAVEL & TOURISM
29                             "I" LADS
...                                 ...
27965  MAJOR LEAGUE BASEBALL TEAM NAMES
27966            THE AMERICAN RED CROSS
27967                     SOCCER TO US!
27968          BASKIN ROBBINS ICE CREAM
27969                         WOODWINDS
27970                    LANGUAGE CRAFT
27971                        OFF-LIMITS
27972                           X-RATED
27973                      RACE-Y HUMOR
27974                       YOUR MOMMA!
27975                       CURSE WORDS
27976                       SKYSCRAPERS
27977                 SPOKES-CHARACTERS
27978                   IT'S A MONARCHY
27979                       SIGNING OFF
27980               WAR MOVIE LOCATIONS
27981              "U"-ENDING CREATURES
27982          TALES OF E.T.A. HOFFMANN
27983                 NATIONAL CAPITALS
27984                PEOPLE YOU CAN EAT
27985              DUMB DOWN THE SIMILE
27986                  HAIL TO THE CHEF
27987                GEOGRAPHICAL BANDS
27988                   MEDICAL DEVICES
27989             ABRAHAM, ISAAC, JACOB
27990              LOVE SONGS IN GERMAN
27991               FIRST IN OUR HEARTS
27992                      OFF-BROADWAY
27993                    RIDDLE ME THIS
27994            AUTHORS IN THEIR YOUTH

[27995 rows x 1 columns]

In [13]:
category_column = jeopardy[" Category"]
category_counts = category_column.value_counts()
print(category_counts)

BEFORE & AFTER                     547
SCIENCE                            519
LITERATURE                         496
AMERICAN HISTORY                   418
POTPOURRI                          401
WORLD HISTORY                      377
WORD ORIGINS                       371
COLLEGES & UNIVERSITIES            351
HISTORY                            349
SPORTS                             342
U.S. CITIES                        339
WORLD GEOGRAPHY                    338
BODIES OF WATER                    327
ANIMALS                            324
STATE CAPITALS                     314
BUSINESS & INDUSTRY                311
ISLANDS                            301
WORLD CAPITALS                     300
U.S. GEOGRAPHY                     299
RELIGION                           297
SHAKESPEARE                        294
OPERA                              294
LANGUAGES                          284
BALLET                             282
TELEVISION                         281
FICTIONAL CHARACTERS               280
PEOPLE                             279
RHYME TIME                         279
TRANSPORTATION                     279
STUPID ANSWERS                     270
                                  ...
PSYCHOLOGICAL TERMS                  1
ACTORS AND ROLES                     1
PEDIATRICS                           1
COLORFUL TITLES                      1
U.S. SYMBOLISM                       1
'90s OLYMPIC NAMES                   1
COMIC BOOK CHARACTERS ON SCREEN      1
HOLIDAY QUOTES                       1
THE RAILROADS                        1
AMERICAN LITERARY SITES              1
HISTORIC ARTIFACTS                   1
THE BILLBOARD HOT 100                1
THE SPACE PROGRAM                    1
SKYSCRAPERS                          1
COUNTRIES' HIGHEST PEAKS             1
TRAVELING THE GLOBE                  1
ANCIENT WRITERS                      1
1999 BOOKS                           1
INDUSTRIALISTS                       1
RENAISSANCE LITERATURE               1
U.S. INDUSTRIES                      1
20th CENTURY WEDDINGS                1
THE 2004 U.S. ELECTIONS              1
THE 12th CENTURY                     1
SHAKESPEAREAN 1st LINES              1
NATIONAL HOLIDAYS                    1
LAW & SOCIETY                        1
RIPPED FROM THE HEADLINES            1
BIBLICAL KINGS                       1
MODERN MATERIALS                     1
Name:  Category, Length: 27995, dtype: int64